@import "../../../styles/variables";

.header {
  color: $colorPrimaryWhite;
}

.downloadLink {
  color: $colorPrimaryWhite;
  border-bottom: 4px solid transparent;
  width: max-content;

  &:hover {
    border-color: $colorPrimaryWhite;
  }
}
