@import "../../../styles/mediaQuery";
@import "../../../styles/pxToRem";
@import "../../../styles/variables";

.title {
  color: $colorPrimaryWhite;
  font-weight: 800;
}

.description {
  color: $colorPrimaryWhite;
  font-size: pxToRem(16);
  margin-top: pxToRem(32);
}
