@import "../../../styles/mediaQuery";
@import "../../../styles/pxToRem";
@import "../../../styles/variables";

.container {
  margin-bottom: pxToRem(32);

  @include mediaQuery(m, up) {
    margin-bottom: pxToRem(64);
  }
}

.title {
  color: $colorPrimaryWhite;
  font-weight: 800;
}

.description {
  color: $colorPrimaryWhite;
  font-size: pxToRem(16);
  margin-top: pxToRem(32);
}
