@import "../../../styles/mediaquery";
@import "../../../styles/pxToRem";
@import "../../../styles/variables";

.footer {
  background-color: $colorPrimaryBlack;
  border-top: pxToRem(2) solid $colorPrimaryWhite;
  position: relative;
  padding: pxToRem(24) 0;

  @include mediaQuery(m, up) {
    padding: pxToRem(54);
  }

  // Payoff
  p {
    color: $colorPrimaryWhite;
    font-size: pxToRem(16);
    line-height: pxToRem(36);
    text-align: center;
    width: 100%;

    @include mediaQuery(m, up) {
      font-size: pxToRem(24);
      line-height: pxToRem(32);
    }
  }
}
