@import "../../../../styles/mediaQuery";
@import "../../../../styles/pxToRem";
@import "../../../../styles/variables";

.grid {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px 16px; //row, column

  @include mediaQuery(s, up) {
    gap: 16px 16px;
  }

  @include mediaQuery(m, up) {
    gap: 24px 24px;
  }

  @include mediaQuery(l, up) {
    gap: 32px 24px;
  }

  @include mediaQuery(xl, up) {
    gap: 32px 32px;
  }
}

.column {
  grid-column: auto / span 12;

  @include mediaQuery(m, up) {
    padding: pxToRem(10) pxToRem(8) pxToRem(9);
    min-height: pxToRem(48);
  }

  @include mediaQuery(s, up) {
    grid-column: auto / span 6;
  }

  @include mediaQuery(m, up) {
    grid-column: auto / span 4;
  }
}

.item {
  position: relative;
  align-items: center;
  border-bottom: pxToRem(6) solid $colorPrimaryGreen;
  padding: pxToRem(4) pxToRem(6) pxToRem(4) pxToRem(0);
  margin: 0 !important;
  background-color: transparent;
}

.itemMonth {
  position: absolute;
  color: $colorPrimaryWhite;
  font-size: pxToRem(12) !important;
  top: 0;
  line-height: 0;
  font-weight: bold;
  left: 0;
}

.itemIcon {
  position: absolute;
  color: $colorPrimaryWhite;
  top: 0;
  right: 0;
}

.itemDay {
  font-size: pxToRem(26) !important;
  color: $colorPrimaryGreen;
}
