html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontFamilyBody);
  box-sizing: border-box;
  /* line-height: $default-line-spacing; */
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

:root {
  /** BREAKPOINTS */
  --breakpointXs: 320px;
  --breakpointS: 768px;
  --breakpointM: 1024px;
  --breakpointL: 1240px;
  --breakpointXl: 1440px;

  /** COLORS */
  /* Colors: Primary */
  --colorPrimaryBlack: #000000;
  --colorPrimaryGray: #4a4843;
  --colorPrimaryBlue: #0071b2;
  --colorPrimaryWhite: #ffffff;
  --colorPrimaryRed: #f65a83;
  --colorPrimaryPink: #ff87b2;
  --colorPrimaryYellow: #ffe898;
  --colorPrimaryOrange: #f98708;

  /* Colors: Primary */
  --colorSecondaryYellow: #fff8bc;

  /** FONTS */
  /* Font-family */
  --fontFamilyBody: "Roboto", sans-serif;
  --fontFamilyButton: "The Sans", "Helvetica", "Arial", sans-serif;
  --fontFamilyTitles: "Roboto", sans-serif;
}
